body


{background-image: url(http://www.wallpaperhi.com/thumbnails/detail/20111130/o_tekkendr_98_6.jpg);
background-size: cover;
}



.tekk{background-color: transparent;
	font-family: cursive;
	text-align: center;
	padding: 9%;
	color: white;
	
	
}

}
input{
  width: 150px;
}
input[type="radio"], input[type="checkbox"]{
  width: auto;
}
input[type="submit"]{
  width: 100px;
}